/* *** Сброс стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

/* Сброс стилей $$$ */

:root {
  --color-1: #3700ff3a;
  --color-2: #a200ff3a;
  --color-3: #f200ff3a;
  --bg-color: #d4e4fe;
  --bg-color-light: #e6effc;
  --border-color: #aca6f9;
  --border-color-active: #837bf6;
}

body {
  background-color: #b0e3ff79;
  font-family: "Calibri";
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#header {
  display: flex;
  justify-content: end;
  gap: 30px;
  min-height: 50px;
  padding: 10px min(5%, 25px);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.controls:hover {
  cursor: pointer;
}

#users-list-and-chat {
  max-height: calc(100vh - 162.5px);
  display: flex;
  gap: 5px;
}

#users-list {
  padding: 10px;
  min-width: 200px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.user-plate {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 3px 5px;
  background-color: var(--color-1);
  border-radius: 5px;
  transition: all 0.2s;
}

.user-plate:hover {
  cursor: pointer;
  background-color: var(--color-2);
}

.user-icon-mini {
  width: 20px;
  height: 20px;
  margin: 5px;
}

#chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.chat__message-line--from,
.chat__message-line--to {
  display: flex;
  align-items: center;
}

.chat__message-line--from {
  flex-direction: row-reverse;
}

.user-icon {
  width: 32px;
  height: 32px;
}

.message-to, .message-from {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  max-width: 80%; 
}

.message-to {
  background-color: var(--color-1);
}

.message-from {
  background-color: var(--color-3);
  align-self: flex-end;
}

#footer {
  min-height: 100px;
  padding: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

#footer__message-form {
  position: relative;
  width: 100%;
  height: 100%;
}

#footer__message-icon-smile,
#footer__message-icon-attach {
  position: absolute;
}

#footer__message-icon-smile:hover,
#footer__message-icon-attach:hover {
  cursor: pointer;
}

#footer__message-icon-smile {
  top: 10px;
  right: 10px;
}

#footer__message-icon-attach {
  top: 40px;
  right: 10px;
}

#footer__message-box {
  width: inherit;
  height: inherit;
  resize: none;
  border: 1px solid var(--border-color);
  outline-color: var(--border-color);
  background-color: var(--bg-color-light);
  border-radius: 10px;
  padding: 5px 40px 5px 10px;
  scrollbar-width: none;
  font-family: "Calibri";
  font-size: 1rem;
}

#footer__message-box:focus {
  border-color: var(--border-color-active);
  outline: none;
}

